{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}

    <h1>{{ book.title }}</h1>
    <img src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.title }}">
    <ul>
        <li>Auteur : {{ book.author.fullname }}</li>
        <li>Catégorie(s) :</li>
        <ul>
            {% for category in book.category %}
            <li>
                <a href="{{ path('category_show', {'id': category.id }) }}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <li>Livres du même auteur :</li>
        <ul>
            {% for otherbook in otherbooks %}
            <li>
                <a href="{{ path('book_show', {'slug': otherbook.slug }) }}">
                    {{ otherbook.title }}
                </a>
            </li>
            {% else %}
                <li>(Aucun)</li>
            {% endfor %}
        </ul>
    </ul>

{% endblock %}
